* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.editable-container {
  width: auto;
  height: 100%;
  min-height: 488px;
  max-width: 1200px;
  max-height: 800px;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: white;
  overflow: auto;
  outline: none;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.editable {
  outline: none;
  border: none;
}

.editable:focus {
 
}
