* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
/* https://www.svgrepo.com/collection/arcticons-thin-line-icons/2 */
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.editable-container {
  width: auto;
  height: 100vh;
  min-height: 488px;
  max-width: 1200px;
  max-height: 800px;
  border-top: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  overflow: auto;
  outline: none;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.editable {
  outline: none;
  border: none;
  height: 495px;
}

.editable:focus {
 
}
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}
.character{
  text-align: center;
}
.transition{
  text-align: right;
}

